<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_ceb9458d5364668953b05327205aa8af_tag_path(@ceb9458d5364668953b05327205aa8af_tag) %> |
<%= link_to 'Back', ceb9458d5364668953b05327205aa8af_tags_path %>
