<div v-for="doc in docs" :data-title="doc.title" :data-tags="doc.taggedWith" :data-id="doc.id" :data-ext="doc.ext" class="file-container" @mousedown="select(0,$event)" @keydown.F2="editFileTitle">
  <svg class="doc-icon" @mousedown="select(1,$event)">
    <use v-bind="{ 'xlink:href': doc.iconUrl  }" @mousedown="select(2,$event)"></use>
  </svg>
  <div class="icon-mask"></div>
  <div class="doc-name-tag" @mousedown="select(1,$event)">
    {{doc.title + doc.ext}}
  </div>
</div>
