<div id="footer">
  <svg id="manual-btn">
    <use xlink:href='/assets/icon/icons.svg#qmark'></use>
  </svg>
  <svg id="logger-btn">
    <use xlink:href='/assets/icon/icons.svg#logger'></use>
  </svg>
  <svg id="change-password-btn">
    <use xlink:href='/assets/icon/icons.svg#change-pw'></use>
  </svg>
  <svg id="logout-btn">
    <use xlink:href='/assets/icon/icons.svg#logout'></use>
  </svg>
</div>
