<div>
  <div class="cTableHead">
    <svg style="width: 2vw; height: 2vw"></svg>
  </div>
  <div class="cTableHead name">姓名</div>
  <div class="cTableHead title">職稱</div>
  <div class="cTableHead resp" style="width: 46vw">業務</div>
  <div class="cTableHead ext">分機</div>
  <div class="cTableHead mail" style="width: 19vw">信箱</div>
  <div class="cTableHead">
    <svg style="width: 2vw; height: 2vw"></svg>
  </div>
</div>
