<div id="member-list">
  <member :id="member.id" :name="member.name" :title="member.title" :resp="member.resp" :ext="member.ext" :mail="member.mail" v-for="member in members " :key="member.id"></member>
</div>
